*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9e9e9;
}


/* Шапка */
.header{
    display: flex;
    font-size: 20px;
    text-wrap: nowrap;
    padding: 0 15px;
    height: 70px;
    width: 100%;
    align-items: center;
    background-color: #8D41D6;
}

.header-left{
    flex: 1;
    display: flex;
    align-items: center;
}

.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-header{
    text-decoration: none;
    color: black;
    background-color: #8D41D6;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.button-header:hover{
    background-color: #A069D6;
}

/* Баннер */
.baner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 24px;
    height: 300px;
    color: white;
    background-color: #d1afff;

}
.baner-button{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    background-color: #A069D6;
    font-size: 18px;
}
.baner-button:hover{
    background-color: #8D41D6;
}